* {
	font-family: "Helvetica", "Arial", sans-serif;
}

main {
	/*margin-bottom by footer height*/
	margin-bottom: 60px;
}

footer{
	/*sticky footer that stays at the bottom of the window but doesn't cover
	main content*/
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height:60px;
	/*Setting line-height to container height vertically centers text.*/
	line-height: 60px;
	background-color: #e0e0e0;
	text-decoration: bold;
}

.sign-board {
	width: 60%;
	margin:auto;
}
.sign-board > h1 {
	text-align: center;
}
