/***
*Specify nav tag throughout to avoid accidentally selecting elements in the
*main content area.
***/
nav a {
  text-decoration: none;
}

nav {
	width: 100%;
  left: 0px;
  right: 0px;
	height: 100px;
	background-color: #efe88e;
}

nav ul {
  background: #efe88e;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-nav-list {
  padding-top: 50px;
}

nav li {
	color: #fff;
  background: #efe88e;
	display: block;
	float: left;
	padding: 1em;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: #fff;
}

nav li:hover {
	background: red;
	cursor: pointer;
}

nav ul li ul {
	background: orange;
	visibility: hidden;
  opacity: 0;
  min-width: 5em;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1em;
	left: 0;
  display: none;
}

nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: .8;
  display: block;
}

nav ul li ul li {
	clear: both;
  width: 100%;
}

.donate-btn {
  float: right;
}
#logo {
  background-color: #efe88e;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
	padding-left: 10px;
}
