.slideshow {
  background-color: #ccc;
  width: 768px;
  height: 512px;
  margin:0 auto;
  margin-top: 5px;
  overflow:hidden;
}

.slide-container {
  height: 512px;
  width: 2316px; /*slide width + padding * number of slides*/
  background-color: #ccc;
}

.slide-container:hover {
  animation-play-state: paused;
}

.slide {
  position: relative;
  display: inline-block;
  animation: slide 14s ease infinite;
}

.slider-image {
  padding:0;
  height: auto;
  width: 768px;
  display: inline;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }

  10%,20%,30% {
    transform: translateX(0px);
  }
  33.3% {
  /*  transition: transform 1s ease 10s;*/
    transform: translateX(-772px);
  }
  40%,50%,60%,62% {
    transform: translateX(-772px);
  }
  66% {
    transform: translateX(-1544px);
  }
  100% {
    transform: translateX(-1544px);
  }

}
